/* Stylings for the about page banner */
.aboutBanner {
    width: 100%;
    min-height: 500px;
    background-image: linear-gradient(155deg, #475569, #1e293b);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: .5rem;
    color: #f8fafc;

}

.aboutBanner h1 {
    font-size: clamp(3rem, 4.5vw, 7rem);
    font-weight: 500;
}

.aboutBanner span {
    font-size: clamp(1.5rem, 3.5vw, 5rem);
    font-weight: 300;
    position: relative;
    margin-bottom: 3rem;
}

.aboutBanner span::before {
    content: '';
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(155deg, #94a3b8, #e2e8f0);
}

/* Stylings for the about page text */
.aboutText {
    text-align: justify;
    color: #334155;
}

.aboutText p {
    margin: 20px 0;
    font-size: 1.4rem;
    font-weight: 200;
}

.aboutText ul {
    list-style: none;
}

.aboutText ul li {
    margin: 10px 0;
    font-weight: 200;
    font-size: 1.3rem;
}

.aboutText h3 {
    position: relative;
    font-size: 2.5rem;
    font-weight: 300;    
    margin-top: 3rem;
}

.aboutText h3::before {
    content: '';
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(155deg, #94a3b8, #e2e8f0);

}