.announcement {
    padding: .4rem .6rem;
    background-image: linear-gradient(90deg, #94a3b8, #475569);
    text-align: center;
    color: #f1f5f9;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.announcement svg {
    font-size: 1.5rem;
    
}