.banner {
    background: #475569;
    padding: 2rem 3rem;
    display: flex;
    gap: 1.2rem;
    border-radius: .5rem;
}

.banner > div {
    width: 50%;
}

.bannerText {
    color: #f1f5f9;
}

.bannerText p {
    font-size: clamp(.7rem, 4vw, 3rem);
    padding: 0;
    margin: 0;
}

.bannerText h1{
    font-weight: 500;
    font-size: clamp(1.2rem, 5.5vw, 4.5rem);
    margin: 1rem 0;
}

.bannerText > span {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bannerText > span img {
    width: 52px;
    height: 52px;
}

.bannerImg {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bannerImg img {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .banner {
        flex-direction: column;
    }

    .banner > div {
        width: 100%;
        text-align:  center;
    }

    .bannerText > span {
        align-items: center;
        justify-content: center;
    }

    .bannerText p {
        font-size: 2.5rem;
    }

    .bannerText h1 {
        font-size: 4rem;
    }


}

@media screen and (max-width: 570px) {
    .bannerText > span {
        align-items: center;
        justify-content: center;
    }

    .bannerText p {
        font-size: 1.3rem;
    }

    .bannerText h1 {
        font-size: 2rem;
    }

    .bannerText > span img {
        width: 25px;
        height: 25px;
    }
}





