.cart {
    width: 100%;
}


.cartBorder {
    background-image: linear-gradient(155deg, #94a3b8, #e2e8f0);
    height: 2px;
    width: 100%;
    margin: 30px 0;
}

.cart .cartHeader {
    width: 100%;
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart .cartHeader h2 {
    font-weight: 500;
    font-size: 2rem;
}

.cart .cartHeader .cartClose svg{
    font-size: 2rem;
    cursor: pointer;
}

.cartContainer {
    width: 100%;
    display: flex;
    gap: 2rem;
    margin: 30px 0;
}

/* Container that holds all cart items */
.cartItemContainer {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    flex: 1;
    max-height: 500px;
    overflow-y: auto;
}

/* Each individual cart item */
.cartItem {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100px;
    border: 1px solid;
    border-image: linear-gradient(155deg, #94a3b8, #e2e8f0);
    border-image-slice: 1;
    border-radius: 3rem;
    margin: 10px 0;
}

/* The image container of cart items */
.cartItem .cartItemImg {
    height: 100%;
}

.cartItem .cartItemImg img {
    height: 100%;
}

/* cart items description */
.cartItem .cartItemDesc h3 {
    font-weight: 500;
}

.cartItem .cartItemDesc p {
    font-size: .8rem;
}

.cartItem .cartItemDesc span {
    font-weight: 200;
}

/* container for the buttons to increase or reduce and also delete button  */
.cartItem .cartItemButtons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}

.cartItem .cartItemButtons > div {
    display: flex;
    align-items: center;

}

.cartItem .cartItemButtons svg{
    font-size: 1.2rem;
    margin: 0;
    cursor: pointer;
}

.cartItem .cartItemButtons .delete {
    margin-right: 10px;
}
.cartItem .cartItemButtons .delete svg {
    color: #d97706;
}

/* Summary of the total items and amount in the cart */
.deliverySummary {
    flex: 1;
    border: 2px solid;
    border-image: linear-gradient(155deg, #94a3b8, #e2e8f0);
    border-image-slice: 1;
    padding: 30px;
}

.deliverySummary .detail {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deliverySummary .detail span {
    /* margin: 15px 0; */
    font-size: 1.2rem;
}

.deliverySummary .detail .price {
    font-weight: 300;
}

.deliverySummary .confirm {
    display: flex;
}

.deliverySummary .confirm button{
    padding: .8rem 1.2rem;
    font-size: 1rem;
    border: 1px solid;
    background-image: linear-gradient(155deg, #475569, #1e293b);
    outline: none;
    cursor: pointer;
    width: 100%;
    color: #e2e8f0;
}
.deliverySummary .confirm button:hover{
    background: transparent;
    color: #1e293b;
    border-image: linear-gradient(-155deg, #94a3b8, #e2e8f0);
    border-image-slice: 1;
}

@media screen and (max-width: 800px) {
    .cartContainer {
        flex-direction: column;
    }
}


