.barLine {
    width: 100%;
    height: .4rem;
    margin: 40px 0;
    background-image: linear-gradient(90deg, #94a3b8, #475569);
    border-radius: .5rem;
}

.itemContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 1rem;
}

.viewMore {
    margin-left: auto;
    font-size: 1.5rem;
    text-decoration: none;
    color: #d97706;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.viewMore:hover {
    text-decoration: underline;
}

.viewMore svg{
    font-size: 1.8rem;
    font-weight: 600;
}

.item {
    width: 100%;
    height: 100%;
    height: 450px;
}

.itemImg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(175deg, #64748b, #475569);
    height: 60%;
    border-radius: .5rem;
    position: relative;
}

.itemImg .favourite {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #94a3b8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemImg .favourite svg{
    color: #f8fafc;
    font-size: 1.5rem;
    cursor: pointer;
}

.itemImg img {
    width: 87%;
    transition: width 250ms ease;
    cursor: pointer;
}

.itemImg img:hover {
    width: 93%;
}

.itemText {
    height: 40%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.itemText > span {
    display: flex;
    gap: .3rem;
    align-items: center;
}

.itemText > span img {
    width: 20px;
}

.itemText > span p {
    margin-left: auto;
}

.itemText h1 {
    font-weight: 500;
    font-size: 1.5rem;
}

.itemText .review {
    display: flex;
    gap: .3rem;
    align-items: center;
    justify-content: flex-start;
}

.itemText .review svg {
    color: #d97706;
    font-size: 1.2rem;
}

.itemText .button {
    margin-top: auto;
}

.button button {
    padding: .8rem 1.2rem;
    font-size: 1rem;
    border: 1px solid #1e293b;
    border-radius: .5rem;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.button button:hover {
    background: #1e293b;
    color: #f8fafc;
}

/* Adjusted Item styles for Phones */
.phoneItem{
    width: 100%;
    height: 100%;
    height: 500px;
}

.phoneItem .itemImg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(175deg, #64748b, #475569);
    height: 65%;
    border-radius: .5rem;
    position: relative;
}


.phoneItem .itemImg img {
    width: 70%;
    transition: width 250ms ease;
    cursor: pointer;
}

.phoneItem .itemImg img:hover {
    width: 75%;
}

.phoneItem .itemText {
    height: 35%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}