.loginContainer {
    width: 100%;
    min-height: 100svh;
    display: flex;
}

.login {
    margin: auto;
    padding: 40px;
    background-image: linear-gradient(175deg, #64748b, #475569);
    width: 100%;
    max-width: 500px;
    border-radius: .5rem;
    /* min-height: 80vh; */
}

.loginLogo {
    display: flex;
    padding: .5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #f8fafc;
}

.loginLogo span svg {
    font-size: 2rem;
}

.loginLogo h2 {
    font-weight: 400;
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg, #f8fafc, #94a3b8);
    background-clip: text;
    color: transparent;
}

.loginText {
    text-align: center;
}

.loginText h1 {
    font-size: 3rem;
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg, #f8fafc, #94a3b8);
    background-clip: text;
    color: transparent;
}

.login form {
    /* border: 2px solid #000; */
    display: flex;
    flex-direction: column;
}

.login form label {
    color: #f8fafc;
    margin: 10px 0;
}

.login form input {
    width: 100%;
    padding: .5rem;
    background: #f8fafc;
    border: none;
    outline: none;
    border-radius: .2rem;
    color: #334155;
    font-size: 1rem;
    font-weight: 500;
}

.login form button {
    margin: 40px auto 20px;
    padding: .5rem;
    background: #f8fafc;
    color: #334155;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: .2rem;
    width: 50%;
    min-width: 8rem;
}

.login .forgotPassword {
    display: flex;
}

.login .forgotPassword a {
    color: #f8fafc;
    /* margin: 0 auto; */
}

.login .createAccount {
    margin: 20px 0;
}

.login .createAccount span, a {
    color: #f8fafc;
}
















