nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #334155;
}

.logoImg {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImg svg {
    font-size: 3rem;
}

.logo span {
    font-size: 1.5rem;
    font-weight: 600;
}

.searchCategory {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    border: 2px solid #475569;
    border-radius: .2rem;
    padding: .3rem .6rem;
}

.search input {
    width: 18rem;
    outline: none;
    border: none;
}

.search  svg {
    cursor: pointer;
}

.profileCart {
    display: flex;
    gap: .8rem;
}

.profileCart > div {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.profile svg {
    font-size: 1.5rem;
}

.cart svg {
    font-size: 1.6rem;
}