.phonesLaptops {
    width: 100%;
}

.phonesLaptopsBanner {
    width: 100%;
    /* min-height: 500px; */
    /* height: clamp(200px, 16vw, 350px); */
    background-image: linear-gradient(155deg, #475569, #1e293b);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: .5rem;
    color: #f8fafc;
    padding: 1rem;
    
}

.phonesLaptopsBanner h1 {
    text-align: center;
    font-size: clamp(1.6rem, 3.5vw, 5rem);
    font-weight: 300;
    margin: 0 0 1rem;
}

.phonesLaptopsBanner .phonesLaptopsBannerImg {
    width: 100%;
}

.phonesLaptopsBanner .phonesLaptopsBannerImg img {
    width: 70%;
    margin: auto;
}

.phonesLaptops .phonesLaptopsNav {
    display: flex;
    margin: 20px 0;
    gap: 1rem;
}

.phonesLaptops .phonesLaptopsNav a {
    color: #334155;
    width: 8rem;
    text-align: center;
    padding: .8rem;
    border: 1px solid;
    border-image: linear-gradient(155deg, #94a3b8, #e2e8f0);
    border-image-slice: 1;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    
}

.phonesLaptops .phonesLaptopsNav a:hover {
    background-image: linear-gradient(155deg, #475569, #1e293b);
    color: #e2e8f0;
}


















