.profilePage {
    width: 100%;
    padding: 20px 0;
}

.profilePage .profileTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileDetails {
    margin: 20px 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.profileDetails .profileAvatar {

}

.profileDetails .profileAvatar svg {
    font-size: clamp(2rem, 4vw, 6rem);
}

.profileDetails .profileDetailsText {
    
}

.profileDetails .profileDetailsText h3 {
    font-weight: 500;
}

.profileDetails .profileDetailsText span {
    font-size: .8rem;
}
/* Border that apears below the profile avatar */
.profileBorder {
    background-image: linear-gradient(155deg, #94a3b8, #e2e8f0);
    height: 2px;
    width: 100%;
    margin: 20px 0;
}

/* the form styles */
.profileEditSection {
    width: 60%;
    min-width: 510px;
}

.profileEditSection form {
    width: 100%;
}

.profileEditSection form .formInputsContainer {
    width: 100%;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.profileEditSection form .formInputsContainer label {
    font-size: 1rem;
}

.profileEditSection form .formInputsContainer input {
    margin-left: auto;
    width: 60%;
    padding: .5rem;
    outline: none;
    background: transparent;
    border: 1px solid;
    border-image: linear-gradient(155deg, #94a3b8, #e2e8f0);
    border-image-slice: 1;
}

.profileEditSection form .formInputsContainer button {
    padding: .5rem;
    margin: 30px 0 0 auto;
    font-size: 1rem;
    border: 1px solid;
    outline: none;
    cursor: pointer;
    width: 100%;
    background-image: linear-gradient(155deg, #475569, #1e293b);
    color: #f8fafc;
}

.profileEditSection form .formInputsContainer button:hover {
    background: transparent;
    color: #1e293b;
    border-image: linear-gradient(155deg, #94a3b8, #e2e8f0);
    border-image-slice: 1;
}





@media screen and (max-width: 594px) {
    .profileEditSection {
        min-width: 100%;
    }

}

@media screen and (max-width: 400px) {
    .profileEditSection form .formInputsContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .profileEditSection form .formInputsContainer input {
        margin-left: none;
        width: 100%;
    }
}